.f1{
    width: 1450px;
    background-color: black;
    color: white;
    position: relative;
    margin: 20px 0 0 0;
    outline: 0;
    height: 110px;
}

.f2{
    position: relative;
    padding: 0;
    background-size: cover;
    height: 110px;
}



.txtF1{
    float: left;
    position: relative;
    top: 26px;
    left: 110px;
    font-weight: 800;
    font-size: 18px;
    width: 1300px;
    overflow-x: hidden;
    margin: 0;
    height: 60px;
}

.txtF1 em{
    position: relative;
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
    left: 320px;
    font-weight: 800;
    font-size: 18px;
}

.imgL{
    height: 35px;
    position: relative;
    left: 400px;
    top: 8px;
    cursor: pointer;
}

.imgT{
    height: 35px;
    position: relative;
    left: 450px;
    top: 12px;
    cursor: pointer;
}